*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background: #ffffff;
  height: 100vh;
  font-family: sans-serif;
}
.scrollToTop {
  color: antiquewhite;
  background-color: black;
  border: none;
  padding: 18px;
  border-radius: 6px;
  position: fixed;
  right: 20px;
  bottom: 19px;
  transition: all 0.5s ease-in-out;
  font-size: 1rem;
  font-weight: 700;
  display: none;
  z-index: 8888;
  cursor: pointer;
}
.scrollToTop:hover {
  color: black;
  background-color: antiquewhite;
}
